<!-- <div class="row">
    <div class="col-4">
        <button (click)="increaseItems()" class="btn btn-primary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i></button>&nbsp;&nbsp;
        <button (click)="decreaseItems()" class="btn btn-danger btn-lg"><i class="fa fa-minus" aria-hidden="true"></i></button>

    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <button (click)="increaseProducts()" class="btn btn-primary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i></button>&nbsp;&nbsp;
        <button (click)="decreaseProducts()" class="btn btn-danger btn-lg"><i class="fa fa-minus" aria-hidden="true"></i></button>

    </div>
</div> -->
<!-- <div>
    <button class="btn btn-primary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button class="btn btn-danger btn-lg"><i class="fa fa-minus" aria-hidden="true"></i></button>
</div> -->
<!-- <div>
    <button class="btn btn-primary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button class="btn btn-danger btn-lg"><i class="fa fa-minus" aria-hidden="true"></i></button>
</div> -->
