<h2>Add/Remove Products & Items</h2>
<div class="row">
    <div class="col-4">
        <span class="display-6">Items : {{child?.items}}</span><br><br>
        <div>
            <button (click)="increaseItems()" class="btn btn-primary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i></button>&nbsp;&nbsp;
            <button (click)="decreaseItems()" class="btn btn-danger btn-lg"><i class="fa fa-minus" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <span class="display-6">Products : {{child?.products}}</span><br><br>
        <div>
            <button (click)="increaseProducts()" class="btn btn-primary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i></button>&nbsp;&nbsp;
            <button (click)="decreaseProducts()" class="btn btn-danger btn-lg"><i class="fa fa-minus" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<app-add-remove-child></app-add-remove-child>